@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-black: #1E2019;
  --default-green: #587B7F;
  --default-gold: #E2C044;
  --default-white: #D3D0CB;
  --default-gray: #393E41;

  --default-description-gray: #949aa0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-default-black: var(--default-black);
  --color-default-gold: var(--default-gold);
  --color-default-white: var(--default-white);
  --color-default-green: var(--default-green);
  --color-default-gray: var(--default-gray);

  --color-default-description-gray: var(--default-description-gray);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-default: '--font-iris';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E2019;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  padding: 0 1rem 0 1rem;
}
